Django>=4.2,<5.0
djangorestframework>=3.14
gunicorn>=21.2
psycopg2-binary>=2.9   # pour PostgreSQL
python-dotenv>=1.0.0   # pour charger les variables d'environnement depuis .env
django-cors-headers>=4.0   # si tu veux gérer le CORS pour ton API
boto3>=1.28.0           # optionnel si tu utilises AWS S3 pour les médias

